<%# app/views/order/orderhistory.html.erb %>

<div class="container mt-4">
  <h2>Order History</h2>

  <% if @orders.empty? %>
    <p>You have no orders in your history.</p>
  <% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th></th>

          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.created_at.strftime("%d %b %Y %H:%M") %></td>
              <td><%= link_to 'Details', order_show_path(order), class: 'btn btn-primary'%></td>
              
          
            </tr>
            <% end %>
          
        </li>
        </tbody>
      </table>
    </div>
    <td><%= link_to 'Would you like to provide us feedback?', new_home_feedback_path, class: 'btn btn-primary' %></td>
  <% end %>
</div>
