<%# app/views/order/orderhistory.html.erb %>

<div class="container mt-4">
  <h2>Order History</h2>

  <% if @orders.empty? %>
    <p>You have no orders in your history.</p>
  <% else %>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Order ID</th>
            <th>Date</th>
            <th>Quantity</th>
            <th>Total</th>
            <th></th>

            <!-- Add other columns as necessary -->
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.created_at.strftime("%d %b %Y %H:%M") %></td>
              <td></td>
              <td></td>
              <td><%= link_to 'Details', order_show_path(order), class: 'btn btn-primary'%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
