/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "darkly/variables";
@import "bootstrap";
@import "darkly/bootswatch";

@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.alert-dismissible{
  padding-left: $alert-dismissible-padding-r;
}
.viewhats {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.hat {
  width: 200px;  
  height: 400px; 
  object-fit: cover; 
}

.hat-info {
  flex-grow: 1;
  font-family: Arial, sans-serif; 
  padding: 10px;
}

.hat-info h3, .hat-info p {
  font-size: 1em; 
  margin: 5px 0; 
}

.viewhats a {
  text-decoration: none;
  color: inherit; 
  padding: 20px;
}

.hats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 10px; 
}

.hat {
  flex: 0 0 calc(33.333% - 10px); 
  text-align: center;
}

.hat-image {
  width: 200px;  
  height: 200px; 
  object-fit: cover; 
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; 
  max-width: 400px; 
}

.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #0056b3;
}

.dropbtn {
  background-color: #0b3665;
  color: white;
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 160px;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.filter-form select,
.filter-form input[type="number"] {
  width: 100%; 
  padding: 10px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: rgb(62, 62, 62);
  color: white;
}

.show-dropdown {
  display: block;
}

.search-sort-filter-container {
  display: flex;
  justify-content: center; 
  gap: 10px; 
}

.sort-container,
.filter-container {
  position: relative;
  display: flex;
  justify-content: flex-end; 
}

.dropdown-content-sort
 {
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 150px;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
 }
.dropdown-content-filter{
  display: none;
  position: absolute;
  background-color: white;
  color: black;
  min-width: 350px;
  width: 50%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}


.dropdown:hover .dropdown-content,
.dropdown-sort:hover .dropdown-content-sort,
.dropdown-filter:hover .dropdown-content-filter {
  display: block;
}

.navbar-cart-icon {
  height: 20px;
  width: auto;
  vertical-align: middle;
}

.navbar-feedback-icon {
  height: 30px; 
  width: auto;
  vertical-align: middle;
}

.rating {
  margin-bottom: 20px;
}

.rating span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url('path/to/star.png') no-repeat;
  cursor: pointer;
  color: white; 
}

.rating span.active {
  background: url('path/to/star_active.png') no-repeat;
  color: gold; 
}


.rating .fa-star {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.rating .fa-star.active {
  color: #fdd835;
}
