/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "darkly/variables";
@import "bootstrap";
@import "darkly/bootswatch";

@import "rails_bootstrap_forms";

label.required:after {
  content:" *";
}

main {
  margin-top: 20px;
}

.alert-dismissible{
  padding-left: $alert-dismissible-padding-r;
}
.search-input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  width: 100%; 
  max-width: 400px; 
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 100%; 
}


.search-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.search-button:hover {
  background-color: #0056b3;
}
.viewhats {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.dobermanhat {
  width: 200px;  
  height: 200px; 
  object-fit: cover; 
}
.hat-info {
  flex-grow: 1;
  font-family: Arial, sans-serif; 
  padding: 10px;
}

.hat-info h3, .hat-info p {
  font-size: 1em; 
  margin: 5px 0; 
}
.viewhats a {
  text-decoration: none;
  color: inherit; 
  padding: 10px;
}
.hats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 10px; 
}

.hat {
  flex: 0 0 calc(33.333% - 10px); 
  text-align: center;
}

.hat-image {
  width: 200px;  
  height: 200px; 
  object-fit: cover; 
}
